body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(2, 0, 34);
    background: url("../media/Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#fadeBlackScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    pointer-events: none;
    z-index: 9999999;
}

#main-menu {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.836);
    border-radius: 8px;
    padding: 10vh;
    user-select: none;
    cursor: default;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.521);
}

#main-menu-title {
    font-size: 7vh;
    color: rgb(0, 153, 255);
    font-family: 'Open Sans Condensed', sans-serif;
}

#main-menu-nb {
    padding: 0;
    text-align: center;
    list-style: none;
    font-size: 3vh;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
}

.main-menu-nb-line-enable {
    cursor: pointer;
    color: white;
    transition: color 0.3s ease;
}

.main-menu-nb-line-enable:hover {
    color: rgb(0, 153, 255);
}

.main-menu-nb-line-disable {
    color: rgb(88, 88, 88);
    transition: color 0.3s ease;
}